<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1 style="display: inline;">
     {{ 'heading' | translate }}
  </h1>
  <select id="language" [(ngModel)]="lang" (change)="useLanguage()" style="float: right;">
    <option value="en" selected>English</option>
    <option value="la">Latin</option>
  </select>
  <div>
  <ul>
    <li>
      <h4><a [routerLink]="'/home'">Home</a></h4>
    </li>
    <li>
      <h4><a [routerLink]="'/inspiration'">Inspiration</a></h4>
    </li>
    <li>
      <h4><a  [routerLink]="'/gallery'">Gallery</a></h4>
    </li>
    <li>
      <h4><a  [routerLink]="'/episodes'">Episodes</a></h4>
    </li>
  </ul>
</div>
</div>
<router-outlet></router-outlet>
